.div-main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    background-color: #e1e3eb;
    height: 88.5vh;
  }

.div-login-container {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    border-radius: 60px; 
    background-color: white;
    flex-direction: column;
    align-items: center;
  }

  .img-login {
    width: 60%;
  }

  .h2-tutorial{
    width: 100%;
    background-color: #009879;
    font-family: monospace;
  }

  /* .h3-sign-up{
    margin: 5px;
    margin-bottom: 15px;
  } */